# Debug builds
[Bb]uild/
[Bb]uilds/
cmake-build*/
build/
debug_dynamic_build
debug_dynamic_exe
release_dynamic_build
release_dynamic_exe
release_static_build
release_static_exe
debug_static_build
debug_static_exe

# IDE Stuff
.idea
.vs

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app